<!doctype html>
<html lang="nl">
<head>
    <title>Frietlijst by Ivo</title>
    <link rel="stylesheet" href="https://unpkg.com/github-markdown-css@4.0.0/github-markdown.css"/>
</head>
<body>
<div class="markdown-body">
    <h1>Reeds besteld</h1>
    <ol>
        {% for applicant in dto.applicants %}
        <li>{{ applicant }}</li>
        {% endfor %}
    </ol>

    <h1>Streeplijst</h1>
    <ul>
        {% for item in dto.items %}
        <li>{{ item.name }}: {{ item.amount }}</li>
        {% endfor %}
    </ul>
    <h1>Totaaloverzicht</h1>
    <ul>
        {% for order in dto.orders %}
        <li>
            {{ order.name }}
            <ul>
                {% for item in order.items %}
                <li>{{ item }}</li>
                {% endfor%}
            </ul>
        </li>
        {% endfor %}
    </ul>
    <p> Heb je feedback?
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSddGpp9kbvW9QfLVATOM3pJqhq1ci0_gdZdpGmXmkPRMoiLEw/viewform?usp=sf_link"
           target="_blank">Klik hier!</a></p>
    <p>Wil je de code van deze pagina zien of hieraan bijdragen? <a href="https://github.com/spijkercenter/frietlijst"
                                                                    target="_blank">Klik hier!</a>
    </p>
</div>
</body>
</html>